a {
  text-decoration: none;
  color: black;
}

h1, h2,
p, h3, h4 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Flex", sans-serif;
}

header .logo {
  display: flex;
  justify-content: center;
  padding: 10px;
}

footer {
  background-color: #353535;
  padding: 20px;
  gap: 10px;
  margin-top: 40px;
}
footer .text_footer {
  display: flex;
  padding-bottom: 20px;
  width: 100%;
  flex-direction: column;
  color: white;
}
footer a {
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: rgba(255, 255, 255, 0.943);
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 30px;
  background-color: rgb(236, 233, 233);
  box-shadow: inset 0px 2px 2px 0px grey;
}

.reservation {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  row-gap: 20px;
  padding: 30px;
  background-color: #f6f6f6;
  box-shadow: inset 0px 2px 4px 0px darkgrey;
}
.reservation .titre_reservation {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.reservation .button_explorer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: #9356DC;
  color: white;
  box-shadow: 0px 10px 13px -7px rgba(0, 0, 0, 0.39);
  border: 0;
  overflow: hidden;
  padding: 15px;
  font-size: 15px;
  cursor: pointer;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.fonctionnement .bouton_fonc {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f6f6f6;
  border-radius: 20px;
  cursor: pointer;
  height: 65px;
  position: relative;
}
.fonctionnement .bouton_fonc > p {
  position: absolute;
  left: -8px;
  width: 20px;
  height: 17px;
  border-radius: 20px;
  background-color: #9356DC;
  text-align: center;
  color: white;
  font-size: 12px;
  padding-top: 3px;
}
.fonctionnement .bouton_fonc > i {
  color: grey;
}

.restaurants {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  margin: 0 10px 0 10px;
}
.restaurants .carte_resto {
  background-color: white;
  border: 3px solid white;
  border-radius: 20px;
  box-shadow: 1px 1px 8px #e2e2e2;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.restaurants .carte_resto .image_resto {
  height: 150px;
  position: relative;
}
.restaurants .carte_resto .image_resto > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.restaurants .carte_resto .image_resto > .new {
  position: absolute;
  background-color: #99e2d0;
  color: #278870;
  right: 20px;
  top: 15px;
  border-radius: 2px;
  padding: 5px;
  font-weight: bold;
}
.restaurants .carte_resto .description {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
}
.restaurants .carte_resto .description_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.restaurants .carte_resto .like {
  position: top;
  display: flex;
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 25px;
}

/*# sourceMappingURL=index.css.map */
