@keyframes coeur {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes remp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
a {
  text-decoration: none;
  color: black;
}

body {
  background-color: #f6f6f6;
  width: 100%;
}

h1, h2,
p, h3, h4 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

* {
  font-family: "Roboto", sans-serif;
}

.container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 3;
  animation: bounce 1.6s ease-in-out both;
  animation-delay: 3s;
  left: -15px;
}
.container .load {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .load p {
  color: #9356DC;
  font-size: 40px;
  font-family: "Shrikhand", cursive;
}
@keyframes bounce {
  to {
    transform: translate3d(0, -4rem, 0);
    color: #FF79DA;
    opacity: 0;
    visibility: hidden;
  }
}
.container .O {
  animation: bounce 1.6s ease 0.2s infinite alternate;
}
.container .h {
  animation: bounce 1.6s ease 0.4s infinite alternate;
}
.container .m {
  animation: bounce 1.6s ease 0.6s infinite alternate;
}
.container .y {
  animation: bounce 1.6s ease 0.8s infinite alternate;
}
.container .f {
  animation: bounce 1.6s ease 1s infinite alternate;
}
.container .o {
  animation: bounce 1.6s ease 1.2s infinite alternate;
}
.container .o_2 {
  animation: bounce 1.6s ease 1.4s infinite alternate;
}
.container .d {
  animation: bounce 1.6s ease 1.6s infinite alternate;
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
  z-index: 1;
}
header .logo > img {
  height: 40px;
  width: 200px;
}

footer {
  background-color: #353535;
  padding: 20px;
  gap: 10px;
  margin-top: 40px;
  width: auto;
}
footer .titre_footer {
  display: flex;
  flex-direction: column;
  color: #f6f6f6;
}
@media screen and (min-width: 769px) {
  footer .titre_footer {
    display: flex;
    flex-direction: row;
  }
}
footer h2 {
  font-family: "Shrikhand", cursive;
}
@media screen and (min-width: 769px) {
  footer h2 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 769px) {
  footer .text_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
  }
}
footer .text_footer a {
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: rgba(255, 255, 255, 0.943);
  align-content: center;
}
footer .text_footer a:hover {
  transform: scale(1);
  transition-property: transform;
  transition-duration: 200ms;
}
footer .text_footer a:hover:hover {
  transform: scale(1.05);
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 30px;
  background-color: rgb(236, 233, 233);
  border-top: 3px solid rgb(216, 212, 212);
}

.reservation {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 20px;
  padding: 30px;
  background-color: #f6f6f6;
}
@media screen and (min-width: 769px) {
  .reservation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.reservation .titre_reservation {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.reservation .button_explorer {
  border: 0;
  display: flex;
  justify-content: center;
  width: 200px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  padding: 15px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
  box-shadow: 0px 10px 13px -7px rgba(0, 0, 0, 0.39);
  cursor: pointer;
}
.reservation .button_explorer:hover {
  transform: scale(1);
  transition-property: transform;
  transition-duration: 200ms;
  background: linear-gradient(65deg, #9356DC 20%, #FF79DA 80%);
  box-shadow: 5px 5px 20px 5px #9356DC, -5px -5px 20px 5px #FF79DA;
}
.reservation .button_explorer:hover:hover {
  transform: scale(1.05);
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
}
@media screen and (min-width: 769px) {
  .fonctionnement {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 15px;
  }
}
@media screen and (min-width: 769px) {
  .fonctionnement > h2 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.fonctionnement .bouton_fonc {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f6f6f6;
  box-shadow: 0 0 6px 4px rgb(205, 203, 203);
  border-radius: 20px;
  cursor: pointer;
  height: 65px;
  position: relative;
}
.fonctionnement .bouton_fonc:hover {
  transform: scale(1);
  transition-property: transform;
  transition-duration: 200ms;
}
.fonctionnement .bouton_fonc:hover:hover {
  transform: scale(1.05);
}
@media screen and (min-width: 769px) {
  .fonctionnement .bouton_fonc {
    flex-basis: 30%;
  }
}
.fonctionnement .bouton_fonc > p {
  position: absolute;
  left: -15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #9356DC;
  text-align: center;
  color: #f6f6f6;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.fonctionnement .bouton_fonc > i {
  color: grey;
  margin-left: 12%;
}
.fonctionnement .bouton_fonc > i:hover {
  color: #9356DC;
}
.fonctionnement .bouton_fonc:hover {
  background-color: rgb(230, 194, 235);
}

.restaurants {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  margin: 0 10px 0 10px;
}
@media screen and (min-width: 769px) {
  .restaurants {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 25%;
  }
}
@media screen and (min-width: 769px) {
  .restaurants > h2 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.restaurants .carte_resto {
  background-color: #f6f6f6;
  border: 3px solid #f6f6f6;
  border-radius: 20px;
  box-shadow: 1px 1px 8px #f6f6f6;
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 769px) {
  .restaurants .carte_resto {
    flex: 45%;
  }
}
.restaurants .carte_resto .image_resto {
  height: 150px;
  position: relative;
}
.restaurants .carte_resto .image_resto > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.restaurants .carte_resto .image_resto > .new {
  position: absolute;
  background-color: #99e2d0;
  color: #278870;
  right: 20px;
  top: 15px;
  border-radius: 2px;
  padding: 5px;
  font-weight: bold;
}
.restaurants .carte_resto .description {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
}
.restaurants .carte_resto .description_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.restaurants .carte_resto .like .fa-heart {
  position: absolute;
  right: 20px;
  bottom: 15px;
  font-size: 25px;
}
.restaurants .carte_resto .like .fa-regular {
  z-index: 2;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.restaurants .carte_resto .like .fa-regular:hover {
  opacity: 0;
  z-index: 1;
}
.restaurants .carte_resto .like .fa-regular:hover + .fa-solid {
  opacity: 1;
  z-index: 2;
  animation: remp 0.5s linear both;
}
.restaurants .carte_resto .like .fa-solid {
  z-index: 1;
  opacity: 0;
  background: linear-gradient(65deg, #FF79DA 0%, #9356DC 100%);
  background-clip: content-box;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  transform-origin: 50% bottom;
  transform: scale(1);
  animation: transform 0.5s cubic-bezier(0.43, 0.21, 1, 0.45);
}

/*# sourceMappingURL=index.css.map */
