a {
  text-decoration: none;
  color: black;
}

body {
  margin: 20px;
  background-color: #f6f6f6;
}

h1, h2,
p, h3, h4 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

* {
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #f6f6f6;
  opacity: 0;
  transition: opacity 0.9s ease-out;
}
.container .load {
  width: 30vh;
  height: 22.5vh;
  display: flex;
  justify-content: space-evenly;
}
.container .load__bar {
  background-color: #9356DC;
  height: 100%;
  width: 3vh;
  animation: bars 1000ms backwards infinite ease-in-out alternate;
  animation-direction: alternate;
}
@keyframes bars {
  0% {
    transform: scale(0.5);
  }
  100% {
    background-color: #FF79DA;
    transform: scaleY(1);
  }
}
.container .load__bar--1 {
  animation-delay: 200ms;
}
.container .load__bar--2 {
  animation-delay: 400ms;
}
.container .load__bar--3 {
  animation-delay: 600ms;
}
.container .load__bar--4 {
  animation-delay: 800ms;
}
.container .load__bar--5 {
  animation-delay: 1000ms;
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  header .logo {
    margin-left: 40px;
    justify-content: start;
  }
}
header .logo > img {
  height: 40px;
  width: 200px;
}

footer {
  background-color: #353535;
  padding: 20px;
  gap: 10px;
  margin-top: 40px;
}
footer .titre_footer {
  display: flex;
  padding-bottom: 20px;
  flex-direction: column;
  color: #f6f6f6;
}
@media screen and (min-width: 768px) {
  footer .titre_footer {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}
footer h2 {
  font-family: "Shrikhand", cursive;
}
@media screen and (min-width: 768px) {
  footer h2 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  footer .text_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
  }
}
footer .text_footer a {
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: rgba(255, 255, 255, 0.943);
  align-content: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  header {
    justify-content: start;
    gap: unset;
  }
}
header .retour {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 5px;
  right: 50px;
  justify-content: start;
  font-size: 30px;
}
@media screen and (min-width: 768px) {
  header .retour {
    right: unset;
  }
}
header .retour a {
  position: relative;
}

.bloc_page {
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: column;
}
.bloc_page .img_presentation img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .bloc_page .img_presentation img {
    width: 40%;
    height: 180px;
    z-index: 0;
    border-radius: 30px;
    position: absolute;
    right: 25px;
    top: 20px;
    box-shadow: 0 0 6px 4px rgb(205, 203, 203);
  }
}

.section_repas {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .section_repas {
    justify-content: center;
    flex-direction: row;
  }
}
.section_repas .menu_bloc {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .section_repas .menu_bloc {
    width: 30%;
  }
}
.section_repas .menu_bloc .titre_repas {
  display: flex;
  margin-left: 20px;
}
@media screen and (min-width: 768px) {
  .section_repas .menu_bloc .titre_repas {
    flex-basis: 100%;
  }
}
.section_repas .menu_bloc .titre_repas h2 {
  display: flex;
  border-bottom: 5px solid #99e2d0;
  width: 65px;
  padding-bottom: 10px;
  margin-top: 30px;
}
.section_repas .menu_bloc .description_menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  box-shadow: 0 0 6px 4px rgb(205, 203, 203);
  border-radius: 20px;
  border: none;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  flex: 1;
  width: auto;
}
.section_repas .menu_bloc .description_menu .text {
  display: flex;
  flex-direction: column;
  height: 60px;
  gap: 10px;
  width: 60%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.section_repas .menu_bloc .description_menu .text h3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.section_repas .menu_bloc .description_menu .text p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.section_repas .menu_bloc .description_menu .prix {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.section_repas .menu_bloc .description_menu .check {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #99E2D0;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.section_repas .menu_bloc .description_menu .check:hover {
  transform: scale(1.4) rotate(180deg);
  width: 20%;
  background-color: #99e2d0;
}

.btn_commander {
  display: flex;
  border: none;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  padding: 15px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
  box-shadow: 0px 10px 13px -7px rgba(0, 0, 0, 0.39);
  cursor: pointer;
}

.titre {
  position: relative;
  top: -20px;
  display: flex;
  padding: 40px;
  background-color: #f6f6f6;
  padding-bottom: unset;
  border-radius: 20px 20px 0 0;
}
@media screen and (min-width: 768px) {
  .titre {
    position: unset;
    top: unset;
    display: flex;
    padding: 50px;
    flex-wrap: wrap;
  }
}
.titre h1 {
  font-family: shrikhand, sans-serif;
  font-size: 25px;
}
.titre .fa-regular {
  position: absolute;
  right: 20px;
  top: 40px;
  font-size: 25px;
  transition: all 450ms;
}
@media screen and (min-width: 768px) {
  .titre .fa-regular {
    right: 70%;
    top: 130px;
  }
}
.titre .fa-solid {
  position: absolute;
  right: 20px;
  top: 40px;
  font-size: 25px;
  height: 100%;
  opacity: 0;
}
.titre .fa-solid:hover {
  cursor: pointer;
  opacity: 1;
  transition: all 0.2s linear 0s;
  background: linear-gradient(200deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 768px) {
  .titre .fa-solid {
    right: 70%;
    top: 130px;
  }
}

/*# sourceMappingURL=restaurant.css.map */
