footer {
    background-color: #353535;
    padding: 20px;
    gap: 10px;
    margin-top: 40px;
    @include desktop {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .text_footer {
        display: flex;
        padding-bottom: 20px;
        flex-direction: column;
        color:$background;
        @include desktop {
            width: 100%;
            display: flex;
            justify-content: center;
            position: relative;
        }
    }
    h2{
        font-family: 'Shrikhand', cursive;
        @include desktop {
            width: 100%;
            display: flex;
            justify-content: center;
            position: relative;
        }
    }

   a {
        display: flex;
        flex-direction: row;
        gap: 20px;
        color: rgba(255, 255, 255, 0.943);
        @include desktop {
            flex-direction: column;
            align-content: center;
        }
        
    }

}