
header{
        .logo{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 15px;
            z-index: 1;
          
            @include desktop {
                margin-left: 40px;
                justify-content: start;

                
            }
            >img{
                height: 40px;
                width: 200px;
            }
    
        }
    }
    