
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.localisation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(85, 230, 56);
    border-top: 3px solid red;
}

.reservation{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.titre_reservation{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.button_explorer{
   
    border-radius: 30px;
    padding: 20px;

}

/*section fonctionnement*/

.fonctionnement{}

        
.bouton_fonc{
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 3px solid white;
    box-shadow: grey;
}

