.section_repas {

    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;

    @include desktop {
        justify-content: center;
        flex-direction: row;

    }

    .menu_bloc {
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        @include desktop {
            width:30%;
        }

        .titre_repas {
            display: flex;
            margin-left: 20px;

            h2 {
                display: flex;
                border-bottom: 5px solid $tertiaire;
                width: 65px;
                padding-bottom: 10px;
                margin-top: 30px;
                font-weight: bold;
            }
        }

        .description_menu {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            box-shadow: 0 0 6px 4px rgb(205, 203, 203);
            border-radius: 20px;
            border: none; 
            overflow: hidden;
            .text {
                display: flex;
                flex-direction: column;
                height: 60px;
                gap: 10px;
                width: auto;
                flex: 1;
                padding: 10px 0 10px 10px;
        
                @include point;


                h3 {
                    @include point;
                    font-weight: bold;
                }

                p {
                    @include point;
                }
            }

            .prix {
                @include carte;
                width: 75px;
                font-weight: 900;
            }

            .check {
                @include carte;
                width: 75px;
                background-color: $tertiaire;
                color: white;
                font-size: 20px;
                margin-right: -75px; 
                transition-duration: 0.9s; 
                }
                &:hover > .check { margin-right: 0;}
                &:hover .fa-circle-check{
                    transition: all 0.5s 0.5s;
                    transform: rotate(360deg);
                }
                    
                   
                    
                   

            }
        }
    }




.btn_commander {
    display: flex;
    border: none;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(65deg, $secondaire 20%, $primaire 80%);
    color: white;
    padding: 15px;
    border-radius: 30px;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 0px 10px 13px 3px rgb(0 0 0 / 40%);
    cursor: pointer;
    &:hover{
        @include anim_bouton;
        background:linear-gradient(65deg, $primaire 20%, $secondaire 80%);
        box-shadow:  5px 5px 20px 5px $primaire, -5px -5px 20px 5px $secondaire;
       
    }

}