.titre {
    position: relative;
    top: -20px;
    display: flex;
    padding: 40px;
    background-color: $background;
    padding-bottom: unset;
    border-radius: 20px 20px 0 0;

    @include desktop {
        position: unset;
        top: unset;
        display: flex;
        padding: 50px;
        flex-wrap: wrap;
    }

    h1 {

        font-family: shrikhand, sans-serif;
        font-size: 25px;
    }

    .fa-regular {
        position: absolute;
        right: 20px;
        top: 40px;
        font-size: 25px;
        transition: all 450ms;

        @include desktop {
            right: 70%;
            top: 130px;
        }
    }

    .fa-solid {
        position: absolute;
        right: 20px;
        top: 40px;
        font-size: 25px;
        height: 100%;
        opacity: 0;


        &:hover {
            cursor: pointer;
            opacity: 1;
            transition: all 0.2s linear 0s;
            background: linear-gradient(200deg, $secondaire , $primaire );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        @include desktop {
            right: 70%;
            top: 130px;
        }
    }
}