.titre {
    position: relative;
    margin-left: 0px;
    left: 0;
    right: 0;
    bottom: 30px;
    padding: 40px;
    background-color: $background;
    padding-bottom: unset;
    border-radius: 20px 20px 0 0;
  min-width: 250px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

    @include desktop {
    }

    h1 {

        font-family: shrikhand, sans-serif;
        font-size: 25px;
    }

    .heart {
     @include heart;
    }
}