.titre {
    position: relative;
    top: -20px;
    display: flex;
    padding: 40px;
    background-color: $background;
    padding-bottom: unset;
    border-radius: 20px 20px 0 0;

    @include desktop {
        position: unset;
        top: unset;
        display: flex;
        padding: 50px;
        flex-wrap: wrap;
    }

    h1 {

        font-family: shrikhand, sans-serif;
        font-size: 25px;
    }

    .heart {
     @include heart;
    }
}