.bloc_page {
    
    background-color: $background;
    border-radius: 30px 30px 0 0;

    .img_presentation {
        display: flex;
        justify-content: center;


        img {
            
            @include image_presentation;
            @include desktop {
                width: 50%;
                height: 200px;
                z-index: 1;
                border-radius: 30px;
                position: absolute;
                right: 25px;
                top: 20px;
                box-shadow: 0px 0px 6px 4px $tertiaire;
                border: 5px solid $tertiaire;
            }
        }

    }

    .titre {
        position: relative;
        top:-20px;
        display: flex;
        padding: 20px;
        padding-bottom: unset;
        background-color: $background;
        border-radius: 20px 20px 0 0 ;
        @include desktop{
           padding: 50px;
        }

        h1 {
            
            font-family: shrikhand, sans-serif;
        }

        .like {
            position: absolute;
            right: 15px;
            top: 20px;
            font-size: 30px;
            @include desktop{
                right: 700px;
                top: 50px;
                
            }
        }

    }


    .repas {
        display: flex;
        flex-direction: column;
        gap: 20px;
        @include desktop{
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
    
        }

        .titre_repas {
            display: flex;
            margin-left: 20px;
            @include desktop{
                flex-basis: 100%;
        
            }
            h2 {
                display: flex;
                border-bottom: 5px solid $tertiaire;
                width: 65px;
                padding-bottom: 10px;
                margin-top: 30px;        
            }
        }

        .description_menu {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            box-shadow: 0 0 6px 4px rgb(205, 203, 203);
            border-radius: 20px;
            border: none;
           padding: 10px;
           margin-left: 10px;
           margin-right: 10px;
           @include desktop{
            flex-basis: 25%;
            gap: 20px;
            flex-direction: column;
            box-shadow: 0px 0px 6px 4px $tertiaire;
            border: 5px solid $tertiaire;
           }

            .text {
                display: flex;
                flex-direction: column;
                height: 60px;
                gap: 10px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                @include desktop{
                    align-items: center;
                    padding: 10px;
                }

                h3 {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                p {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }

            .prix {
                @include carte;
            }

            .check {
                @include carte;
            }
        }
    }
}