header{
    
    .retour{
        display: flex;
        align-items: center;
        font-size: 30px;
        left:15px;
        top: 35px;
        position: absolute;
        a{
            position: relative;
        }  
    }
    .img_presentation{
        display: flex;
        justify-content: center;
        img{
            @include image;
        } 
    }
}