
.fonctionnement{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    @include desktop {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 15px;
    }
    >h2{
        @include desktop {
            width: 100%;
            display: flex;
            justify-content: center;
        }

    }
            .bouton_fonc{
                display: flex;
                align-items: center;
                justify-content: space-around;
                background-color: $background;
                border-radius: 20px;
                cursor: pointer;
                height: 65px;
                position: relative;
                @include desktop {
                    flex-basis: 30%;
                }

                >p{position: absolute;
                    left: -5px;
                    width: 20px;
                    height: 17px;
                    border-radius: 20px;
                    background-color: $primaire;
                    text-align: center;
                    color:$background;
                    font-size: 12px;
                    padding-top: 3px;}
                >i{
                    color: grey;
                    margin-left: 12%;
                                  
                }
                &:hover{
                    background-color: rgb(230, 194, 235);
                }
                
            }

            
}
