.localisation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 30px;
    background-color: rgb(236, 233, 233);
    border-top: 3px solid rgb(216, 212, 212);
}
.reservation{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap:20px;
    padding: 30px;
    background-color: $background;
   
    
            .titre_reservation{
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
            .button_explorer{
                border-radius: 30px;
                background-color: $primaire;
                color: $background;
                box-shadow: 0px 10px 13px -7px rgb(0 0 0 / 39%);
                border: 0;
                padding: 15px;
                font-size: 15px;
                cursor: pointer;
                transform: scale(1);
                transition-property: transform;
                transition-duration: 200ms;
                &:hover {
                    transform: scale(1.15);
                }
            }
}
