.localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 30px;
    background-color: rgb(236, 233, 233);
    border-top: 3px solid rgb(216, 212, 212);
}

.reservation {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    padding: 30px;
    background-color: $background;
    @include desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

    }


    .titre_reservation {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .button_explorer {
        @include desktop {}

        border: 0;
        display: flex;
        justify-content: center;
        width: 200px;
        background: $secondaire;
        color: white;
        padding: 15px;
        border-radius: 30px;
        font-size: 15px;
        font-weight: 600;
        box-shadow: 0px 10px 13px -7px rgb(0 0 0 / 39%);
        cursor: pointer;
    }

   

    &:hover {
        transform: scale(1.15);
    }
}
