@mixin image {
    height: 100%;  
     width: 100%;
     object-fit: cover;
    border-radius: 10px 10px 0 0;
    
}

@mixin carte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@mixin desktop {
    @media screen and (min-width: 768px) and (max-width: 1700px) {
      @content; 
    }
}
